{
  "parser": "babel-eslint",
  "extends": "tamia/react",
  "globals": {
    "expect": false
  },
  "rules": {
    "prefer-const": ["error", {
      "destructuring": "any",
      "ignoreReadBeforeAssign": false
    }]
  }
}
